@page
@model IndexModel
<script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
<script>
    async function listCategories() {
        return fetch('https://localhost:7018/api/list-categories', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            }
            )
    }
    async function listRecipes() {
        return fetch('https://localhost:7018/api/list-recipes/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            }
            )
    }
    async function createCategory(category) {
        var url = "https://localhost:7018/api/add-category/"
        url = url + category
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                category: category
            })
        })
            .then(res => { return res.json() })
    }
    async function deleteCategory(category) {
        var url = "https://localhost:7018/api/delete-category/"
        url = url + category
        return fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                category: category
            })
        })
            .then(res => { return res.json() })
    }
    async function editCategory(position, newCategory) {
        var url = "https://localhost:7018/api/update-category/"
        url = url + position + "/" + newCategory
        return fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                newCategory: newCategory
            })
        })
            .then(res => { return res.json() })
    }
    async function createRecipe(recipe) {
        var url = "https://localhost:7018/api/add-recipe/"
        url = url + JSON.stringify(recipe)
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                jsonRecipe: JSON.stringify(recipe)
            })
        })
            .then(res => { return res.json() })
    }
</script>
<style>
    [x-cloak] {
        display: none;
    }
</style>
<div x-data="{ categories: [], recipes:[], expandCategory:false, expandRecipe:false }">

    <!--Nav Bar-->

    <header>
        <nav class="navbar navbar-expand-lg" style="height:60px; background-color: #252f3e;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li style="margin-left:25px;margin-top:20px;">
                            <div class="logo-holder logo-5">
                                <a class="nav-link text-light" asp-page="/Home">
                                    <h3>Yum</h3>
                                    <p>City</p>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item" style="margin-left:1050px;margin-top:20px;">
                            <a x-on:click="categories = await listCategories();expandCategory= !expandCategory;expandRecipe=false " class="btn" style="margin-top:15px;color:white;font-size:large">Categories</a>
                        </li>
                        <li class="nav-item" style="margin-left:50px;margin-top:20px;">
                            <a x-on:click="recipes = await listRecipes();expandRecipe= !expandRecipe;expandCategory=false " class="btn" style="margin-top:15px;color:white;font-size:large">Recipes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--List Categories-->

    <div x-data="{ expandCreate:false, chosenCategory:'', expandDelete:false, expandEdit:false,position:-1 }" x-show="expandCategory" x-cloak x-transition>
        <div class="row row-cols-1 row-cols-md-4 g-2 text-center">
            <template x-for="(category, index) in categories">
                <div>
                    <div class="col">
                        <div class="card h-100 text-center" style="background-color:#252f3e;margin-left:2px;margin-top:5px;">
                            <div class="card-body">
                                <h5 x-text="category" class="card-title" style="color:white"></h5>
                                <a x-on:click="chosenCategory= category ;position=index+1;expandEdit= !expandEdit;expandDelete=false;expandCreate=false" class="btn btn-dark" style="background-color:#FF6A3D;color:white;margin-top:10px;"><i class="bi bi-pencil-square">Edit</i></a>
                                <a x-on:click="chosenCategory= category ;expandDelete= !expandDelete;expandEdit=false;expandCreate=false" class="btn btn-danger" style="color:white;margin-top:10px;"><i class="bi bi-trash">Delete</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <!--Create Category-->

        <button x-on:click="expandCreate = ! expandCreate" style="background-color:#252f3e;color:#FF6A3D;margin-top:50px;margin-left:45%" class="btn text-center"><i class="bi bi-plus-circle">Create Category</i></button>

        <div x-show="expandCreate" x-cloak x-transition>
            <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#1A2238">
                <input x-model="chosenCategory" placeholder="Enter category name" type="text" />
                <button x-on:click="await createCategory(chosenCategory);expandCreate= fasle;expandCategory= false" class="btn btn-success">Add</button>
            </form>
        </div>

        <!--Delete Category-->

        <div x-show="expandDelete" x-cloak x-transition>
            <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#1A2238">
                <input x-model="chosenCategory" placeholder="Enter category name" type="text" disabled />
                <button x-on:click="await deleteCategory(chosenCategory);expandDelete= fasle;expandCategory= false" class="btn btn-danger">Delete</button>
            </form>
        </div>

        <!--Edit Category-->

        <div x-show="expandEdit" x-cloak x-transition>
            <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#1A2238">
                <input x-model="chosenCategory" type="text" />
                <button x-on:click="await editCategory(position,chosenCategory);expandEdit= fasle;expandCategory= false" class="btn btn-success">Edit</button>
            </form>
        </div>

    </div>

    <!--List Recipes-->

    <div x-data="{ expandCreate:false, chosenRecipe:{title:'', ingredients:[], instructions:[], categories:[]}, expandDelete:false, expandEdit:false }" x-show="expandRecipe" x-transition>
        <div class="row row-cols-1 row-cols-md-4 g-2 text-center">
            <template x-for="recipe in recipes">
                <div class="col">
                    <div class="card h-100 text-center" style="background-color:#252f3e;margin-left:2px;margin-top:5px;">
                        <div class="card-body">
                            <h5 x-text="recipe.title" class="card-title" style="color:white"></h5>
                            <div x-data="{ expanded: false }">
                                <button x-on:click="expanded = ! expanded" style="background-color:#F4DB7D;color:black;margin-top:10px;" class="text-center"><i class="bi bi-search">Show Ingredients</i></button>
                                <template x-for="ing in recipe.ingredients">
                                    <p x-text="'- '+ing" x-show="expanded" x-collapse class="card-text text-start" x-transition style="color:white"></p>
                                </template>
                            </div>
                            <br>
                            <div x-data="{ expanded: false }">
                                <button x-on:click="expanded = ! expanded" style="background-color:#F4DB7D;color:black;margin-top:10px;" class="text-center"><i class="bi bi-search">Show Instructions</i></button>
                                <template x-for="ins in recipe.instructions">
                                    <p x-text="'- '+ins" x-show="expanded" x-collapse class="card-text text-start" x-transition style="color:white"></p>
                                </template>
                            </div>
                            <br>
                            <div x-data="{ expanded: false }">
                                <button x-on:click="expanded = ! expanded" style="background-color:#F4DB7D;color:black;margin-top:10px;" class="text-center"><i class="bi bi-search">Show Categories</i></button>
                                <template x-for="cat in recipe.categories">
                                    <p x-text="'- '+cat" x-show="expanded" x-collapse class="card-text text-start" x-transition style="color:white"></p>
                                </template>
                            </div>
                            <br>
                            <a x-on:click="chosenRecipe= recipe ;expandEdit= !expandEdit;expandDelete=false;expandCreate=false" class="btn btn-dark" style="background-color:#FF6A3D;color:white;margin-top:10px;"><i class="bi bi-pencil-square">Edit</i></a>
                            <a x-on:click="chosenRecipe= recipe ;expandDelete= !expandDelete;expandEdit=false;expandCreate=false" class="btn btn-danger" style="color:white;margin-top:10px;"><i class="bi bi-trash">Delete</i></a>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!--Create Recipe-->

        <button x-on:click="expandCreate = ! expandCreate" style="background-color:#252f3e;color:#FF6A3D;margin-top:50px;margin-left:45%" class="btn text-center"><i class="bi bi-plus-circle">Create Recipe</i></button>
        <div x-show="expandCreate" x-cloak x-transition>
            <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#1A2238">
                <div>
                    <div class="row mt-4 col-11 m-auto">
                        <label style="font:bolder;text-align:left" class="fw-bold">Recipe Title</label>
                        <input x-model="chosenRecipe.title" class="form-control">
                    </div>
                    <div class="row mt-4 col-11 m-auto">
                        <label style="font:bolder;text-align:left" class="fw-bold">Ingredients</label>
                        <textarea x-model="chosenRecipe.ingredients" placeholder="After every ingredient press enter for new line." rows="5" cols="30"></textarea>
                    </div>
                    <div class="row mt-4 col-11 m-auto">
                        <label style="font:bolder;text-align:left" class="fw-bold">Instructions</label>
                        <textarea x-model="chosenRecipe.instructions" placeholder="After every instructions press enter for new line." rows="5" cols="30"></textarea>
                    </div>

                    <button x-on:click="await createRecipe(chosenRecipe);expandRecipe=false" type="submit" class="btn btn-success"><i class="bi bi-plus-circle-fill"> Create Recipe</i></button>
                    <br><br>
                </div>
            </form>
        </div>

    </div>
</div>
